<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&family=Space+Grotesk:wght@700&display=swap"
      rel="stylesheet"
    />
    <title>PSE Technical Reports</title>
    <style>
      * {
        --white: #f6f7f7;
        --deep-fir: #9daba7;
        --cinnabar: #c3ccc9;
        --anakiwa-300: #a3dff0;
        --anakiwa-400: #50c3e0;
        --anakiwa-500: #00a7d0;

        color: black;
        margin: 0;
      }

      html {
        margin: 2rem 0rem;
        background-color: var(--white);
      }

      body {
        width: 650px;
        margin: auto;
      }

      .header {
        display: flex;
        align-items: center;
        gap: 1rem;
      }

      #logo {
        height: 3rem;
      }

      h1 {
        font-family: "Space Grotesk", sans-serif;
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 95%;
        margin: 1.75rem 0;
      }

      h2 {
        font-family: "Space Grotesk", sans-serif;
        font-size: 2rem;
        font-weight: bold;
        line-height: 110%;
        margin: 1.25rem 0;
      }

      h3 {
        font-family: "Space Grotesk", sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 150%;
        margin: 1rem 0;
      }

      h4 {
        font-family: "Space Grotesk", sans-serif;
        font-size: 1.25rem;
        font-weight: bold;
        line-height: 110%;
        margin: 0.5rem 0;
      }

      p {
        font-family: "DM Sans", sans-serif;
        font-size: 1rem;
        font-weight: regular;
        line-height: 150%;
        margin-bottom: 2rem;
      }

      .lg {
        font-size: 1.25rem;
      }

      a {
        font-family: "DM Sans", sans-serif;
        color: var(--anakiwa-500);
      }

      a:hover {
        filter: brightness(80%);
      }

      a:visted {
        color: var(--anakiwa-500);
      }

      ul {
        padding-inline-start: 0;
        margin-bottom: 3rem;
      }

      li {
        list-style-type: none;
      }

      li p {
        margin-bottom: 0.5rem;
      }

      hr {
        color: var(--black);
        margin: 2rem 0;
      }

      @media (max-width: 1080px) {
        body {
          box-sizing: border-box;
          width: 100vw;
          padding: 0 2rem;
          margin: 0;
        }

        #logo {
          width: 30vw;
          height: unset;
        }
      }
    </style>
  </head>
  <body>
    <img src="assets/logo-full.png" alt="logo" id="logo" />
    <hr />
    <h1>PSE Technical Reports</h1>
    <p>
      Welcome to the Privacy and Scaling Explorations (PSE) Technical Reports
      website. This site hosts a curated collection of research papers,
      proof-of-concept projects, and technical documents generated from projects
      funded by the PSE team. Our aim is to contribute valuable insights and
      advancements to the Ethereum ecosystem.
    </p>
    <h3>Motivation and Reasoning</h3>
    <p>
      The creation of this repository stems from our commitment to open
      dissemination of knowledge and the responsible use of grant funds. We
      believe that the research we fund should not only advance the field but
      also be accessible to the community at large. By standardizing and
      publishing these reports, we aim to create a lasting impact, allowing for
      greater dissemination, scrutiny, and utility of the work we support. This
      repository serves as a centralized platform for sharing these
      contributions, fostering innovation, and encouraging collaboration within
      the Ethereum ecosystem.
    </p>
    <hr />
    {{#sections}}
    <h3>{{title}}</h3>
    <ul>
      {{#reports}}
      <li>
        <h4>{{title}}</h4>
        <p>{{subtitle}}</p>
        <span>[</span>
        <a href="{{link_pdf}}" target="_blank">pdf</a>,
        <a href="{{link_md}}" target="_blank">markdown</a>
        <span>]</span>
      </li>
      {{/reports}}
    </ul>
    {{/sections}}
  </body>
</html>
